* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.3em;
    font-family: sans-serif;
}


#container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    padding: 100px;
    justify-content: center;
    align-items: flex-start;

    background-color: cornflowerblue;
}

#container div {
    width: calc(100% / 7 - (15px));

    display: flex;
    justify-content: center;
    align-items: center;
    
    /* test */
    aspect-ratio: 1/1;
    border-radius: 20%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}